#contact {
    width: 90%;
    padding: 80px 0;
    background-color: white;
    text-align: center;
    position: relative;


    .background-title {
        font-size: 6rem;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
    }

    .section-title {
        font-size: 2rem;
        font-weight: bold;
        color: #10d3a4;
        position: relative;
        z-index: 1;
    }

    .contact-form {
        max-width: 600px;
        margin: 50px auto 0 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .input-group {
        display: flex;
        gap: 15px;
    }

    .input-group input {
        flex: 1;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
        padding: 12px;
        border: 2px solid #eaeaea;
        border-radius: 25px;
        font-size: 1rem;
        outline: none;
        transition: border-color 0.3s ease-in-out;
    }

    .contact-form input:focus,
    .contact-form textarea:focus {
        border-color: #10d3a4;
    }

    .contact-form textarea {
        height: 150px;
        resize: none;
    }

    .submit-btn {
        padding: 12px 25px;
        border: 2px solid #10d3a4;
        background: transparent;
        color: #10d3a4;
        border-radius: 25px;
        cursor: pointer;
        font-weight: bold;
        transition: 0.3s ease-in-out;
    }

    .submit-btn:hover {
        background: #10d3a4;
        color: white;
    }
}

@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
        gap: 10px;
    }

    .background-title {
        font-size: 4rem;
    }
}
